:root {
	--btn-bg: #EAB95A;
	--btn-shadow: 0px 1.5px 8px var(--btn-bg);
	--fnt-size: 12px;
	--heading-size: 24px;
	--focus: #6FAE9D;
	--secHeading: 28px;
	--resHeading: 20px;
	--pClr: rgba(0, 0, 0, 0.7);
	--tag-bg: #FBF9FC;
	--tag-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--pClr);
	border: 0px solid red;
}

@font-face {
	font-family: "poppins-regular";
	src: url("./Poppins-Regular.ttf");
}

@font-face {
	font-family: "poppins-bold";
	src: url("./Poppins-Bold.ttf");
}

@font-face {
	font-family: "poppins-ExtraBold";
	/*src: url("/storage/emulated/0/Fonts/Poppins (1)/Poppins-ExtraBold.ttf");*/
	src: url("./Poppins-ExtraBold.ttf");
}

::selection {
	background: var(--btn-bg);
	color: white;
}

body {
	scroll-behavior: smooth !important;
}

img {
	user-select: none;
}

p {
	font-family: poppins-regular;
}

h1 {
	font-family: poppins-bold;
	font-size: var(--secHeading);
}

.go-top a {
	text-decoration: none;
	border-radius: 50%;
	box-shadow: var(--btn-shadow);
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 3rem;
	right: 3rem;
	z-index: 999;
	background: var(--btn-bg);
	visibility: hidden;
	opacity: 0;
	transition: all .3s ease;
}

.go-top a i {
	color: white;
	font-size: 1.3rem;
}

header {
	width: 100vw;
	margin-bottom: 1rem;
	font-family: poppins-regular;
	background: #f2f2f2;
	height: 450px;
	background-image: url('images/header-bg.png');
	background-repeat: no-repeat;
	background-size: 500px 94%;
	background-position: right top;
	overflow-x: hidden;
}

header nav {
	display: flex;
	justify-content: space-between;
	height: 60px;
	align-items: center;
}

.logo-bar-sec {
	max-width: 200px;
}

header nav .logo {
	font-family: poppins-bold;
	font-size: var(--heading-size);
	margin-left: 1.3rem;

}

nav .logo span {
	color: var(--focus);
	font-family: poppins-bold;
	font-size: var(--head-size);
}

/* Dark mode switch */
.dark-sec {
	display: flex;
	flex-direction: row-reverse;
	width: auto;
}

#n-in-web {
	display: none;
}

#n-in-mobile {
	display: flex;
}

.dark-mode-switch {
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	transition: all .2s ease;
}

.dark-mode-switch label {
	background: var(--tag-bg);
	position: relative;
	width: 130%;
	height: 20px;
	border-radius: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all .2s ease;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.dark-mode-switch i {
	position: relative;
	z-index: 10;
	font-size: 1rem;
	margin: 0 .1rem;
	transition: all .2s ease;
}

.dark-mode-switch i:nth-child(1) {
	color: black;

}

.dark-mode-switch i:nth-child(2) {
	visibility: hidden;
	opacity: 0;
}

.dark-mode-switch .move-toggle {
	position: absolute;
	z-index: 8;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #ffffff
		/*D68F4D*/
	;
	left: -.2rem;
	transition: all .2s ease;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

nav .logo-bar-sec {
	width: 370px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav .bar-sec {
	display: none;
}

nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: .5rem;
}

.open-ul {
	left: -20%;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

nav ul li {
	list-style: none;
	padding: .5rem;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-left: 1rem;
}

nav ul li::after {
	content: '';
	display: none;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: var(--focus);
	bottom: 0;
	position: absolute;
}

#home a {
	color: var(--focus);
}

nav ul li:hover a {
	color: var(--focus);
}

nav ul li:hover:after,
#home::after {
	display: block;
}

nav ul a {
	text-decoration: none;
	color: black;
}

a#sign-up {
	padding: .5rem 1rem;
	color: white;
	background: var(--btn-bg);
	border-radius: 8px;
	box-shadow: var(--btn-shadow);
	font-size: var(--fnt-size);
	margin: 0 .5rem;
}

.hero-section {
	display: flex;
	justify-content: space-between;
	height: calc(100% - 60px);
	align-items: center;
}

.hero-section .hero-content {
	display: flex;
	padding: 1rem;
	justify-content: center;
	align-items: flex-start;
	font-family: poppins-bold;
	font-size: var(--heading-size);
	width: 330px;
	margin-left: 4rem;
	flex-direction: column;

}

.hero-content h1 {
	margin-top: -2rem;
	font-weight: 1000;
}

.hero-content span {
	color: var(--focus);
}

.hero-content a {
	padding: .5rem 1rem;
	color: white;
	background: var(--btn-bg);
	border-radius: 8px;
	box-shadow: var(--btn-shadow);
	font-size: 14px;
	margin: 1rem 0 0 0rem;
	text-decoration: none;
	font-family: poppins-regular;
}

.hero-section .hero-img {

	width: 500px;
}

.hero-section .hero-img img {
	width: 65%;
	margin-top: -1rem;
	margin-left: 5rem;

}

section.tag-section {
	padding: 2rem;
	width: 100%;
	margin: 0 auto;
	font-family: poppins-regular;
	/* background: rgba(0,0,0,0.02); */
	background: white;

}

.tag-section .tag-title {
	width: 74%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: .5rem;
}

.tag-section h1 {
	font-family: poppins-bold;
	font-size: 24px;
}

.tag-title #showAll {
	color: #FBB836;
	padding: .3rem .7rem;
}

#showAll:hover {
	color: #face68;
}

.tag-box {
	width: 80%;
	display: flex;
	justify-content: center;
	margin: 1rem auto;
	padding-left: 1rem;
}

.tag-box .tag-item {
	min-width: 93px;
	max-width: 90px;
	height: 120px;
	border-radius: 18px;
	/* box-shadow:inset 0px 1px 1px 1px rgba(0,0,0,0.08);*/
	margin: 1rem .7rem;
	display: flex;
	justify-content: center;
	font-size: .8rem;
	color: rgba(0, 0, 0, 0.6);
	text-align: center;
	background: var(--tag-bg);
	padding: .5rem;
	transition: all .2s ease;
	flex-direction: column;
	align-items: center;
	border: 1px solid rgba(0, 0, 0, 00.04);
}

.tag-item img {
	width: 40%;
	margin-bottom: .7rem;
}

.contents-section {
	display: flex;
	width: 90%;
	margin: 0 auto 1rem auto;
	justify-content: center;
	align-items: center;
	height: 400px;
	padding: 0rem;
	position: relative;
}

.contents-section>img {
	width: 330px;
	margin-right: 4rem;

}

.contents-section .contents {
	width: 45%;
	height: 100%;
}

.contents h1 {
	font-family: poppins-bold;
	font-size: var(--secHeading);
	margin: 1rem 0;
}

.contents .items {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 1rem 1.5rem;
	border-radius: 18px;
	/* box-shadow:inset 0px 1px 1px 1px rgba(0,0,0,0.08);*/
	font-size: .8rem;
	color: rgba(0, 0, 0, 0.6);
	border: 1px solid rgba(0, 0, 0, 0.1);
	background: var(--tag-bg);
	transition: all .2s ease;
	margin: 1rem .5rem;

}

.items img {
	width: 30px;
	margin-right: 1rem;

}

.hover-effect {
	transform: scale(1.1);
	box-shadow: var(--tag-shadow);
	background: white;
	border: none !important;
}


/* Partner Section  */
.partner-section {
	width: 100vw;
	background: #f2f2f2;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 380px;
	overflow: hidden;
}

.partner-section img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
	position: absolute;
}

.partner-section .left,
.partner-section .right {
	width: 600px;
	height: 100%;
	padding: 1rem;
	position: relative;
}

.left #l-1 {
	top: 1rem;
	right: .8rem;
}

.left #l-2 {
	left: 3rem;
	bottom: 5rem;
}

.left #l-3 {
	right: 1rem;
	bottom: 2rem;
}

.right #r-1 {
	right: 7rem;
	top: 1rem;
}

.right #r-2 {
	right: 1rem;
	top: 4rem;
}

.right #r-3 {
	left: 3rem;
	bottom: 2rem;
}

.partner-section .round {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: inline-block;
	background: transparent;
	position: absolute;
}

#round-1 {
	border: 8px solid var(--btn-bg);
	left: 5rem;
	top: 2rem;
}

#round-2 {
	border: 8px solid var(--focus);
	bottom: 5rem;
	right: 3rem;
}

.partner-section .middle {
	padding: 1rem;
	text-align: center;
	height: 300px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.partner-section .middle h1 {
	font-size: var(--secHeading);
	font-family: poppins-bold;
	text-align: center;
	padding: 0;
}

.middle p {
	color: var(--pClr);
}

.middle a {
	padding: .5rem 1rem;
	color: white;
	background: var(--btn-bg);
	border-radius: 8px;
	box-shadow: var(--btn-shadow);
	font-size: 14px;
	text-decoration: none;
	font-family: poppins-regular;
	margin: 1rem;
}

/*  first wrap container */

.first-wrap {
	width: 85%;
	margin: 1.5rem auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2.5rem;
}

.fst-wrap-content {
	width: 430px;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	height: 230px;
}

.fst-wrap-content h1 {
	margin: .5rem 0;
}

.fst-wrap-content p {
	color: var(--pClr);
}

.fst-wrap-content a {
	padding: .5rem 1rem;
	color: white;
	background: var(--btn-bg);
	border-radius: 8px;
	box-shadow: var(--btn-shadow);
	font-size: 14px;
	text-decoration: none;
	font-family: poppins-regular;
	margin: 1rem 0;
}

.fst-img {}

.fst-img img {
	width: 360px;
	margin-left: 1rem;
}



/* Footer */
footer {
	width: 100%;
	padding: 4rem;
	display: flex;
	justify-content: space-evenly;
	position: relative;
	overflow: hidden;
	font-family: poppins-regular;
	background: #f2f2f2;
	background-image: url('images/footer-bg.png');
	background-repeat: no-repeat;
	background-size: 300px auto;
	background-position: left -2rem;
}

footer h1 {
	font-size: 24px;
}

footer * {}

footer .footer-design {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: var(--btn-bg);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: -1rem;
	top: -2.5rem;
}

.footer-design #design {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: var(--focus);
}

footer .footer-about {
	max-width: 22%;
}

.footer-about h1 {
	margin-bottom: .5rem;
}

.footer-about p {}

.footer-about span {
	color: var(--focus);
}

footer .footer-blocks {}

.footer-blocks .block {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
	padding: .3rem 0;
}

footer a {
	text-decoration: none;
	color: var(--pClr);
	font-size: .9rem;
	margin: .1rem 0;
}

footer .footer-get-in-touch .input-field {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	margin: .8rem 0 1.4rem 0;
}

footer form {
	display: flex;
	justify-content: flex-start;
}

footer .input-field input {
	padding: .8rem;
	border: none;
	background: white;
	outline-color: var(--btn-bg);
	width: 120px;
	border-radius: 8px 0px 0px 8px;
}

.input-field input::placeholder {
	color: var(--pClr);
	font-family: poppins-regular;
}

.input-field #submit {
	background: var(--btn-bg);
	color: white;
	border-radius: 0 8px 8px 0;
	width: 40px;
	box-shadow: var(--btn-shadow);
}

.touch-icon {
	display: flex;
	justify-content: flex-start;
	height: 18px;
}

footer .touch-icon a {
	display: block;
	margin-right: 1rem;
}

.touch-icon a img {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.categories-sec {
	width: 100%;
}

.categories-title {
	margin-top: 0;
	width: 100%;
}

.categories-sec .categories {
	width: 90%;
	margin: 0 auto;
}

.categories-sec .categories .categories-item a {
	text-decoration: none;
	color: var(--logo);
	margin: .5rem 0;
	display: block;
}

.ad-sec {
	width: 98%;
	height: 300px;
	box-shadow: var(--cardShadow);
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem auto;
}
